In [130]:
import pandas as pd
import numpy as np

In [131]:
# Retrieve csv file. This requires an internet connection
fao_data = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
fao_data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [132]:
# 1:  missing data 2014
number_missing = fao_data['Y2014'].isnull().sum()
number_missing

1589

In [133]:
count = fao_data['Y2014'].shape[0]
count

60943

In [134]:
pcnt = (number_missing / count) * 100
pcnt

2.6073544131401474

In [135]:
# 2
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
df = pd.DataFrame(lst, columns=col)
df

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [136]:
# 3
fao_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [137]:
# 4
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6  #ans = TypeError

TypeError: 'tuple' object does not support item assignment

In [150]:
# 5
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

arr = np.array(array)
arr[:2, 1:]

array([[89, 63],
       [92, 48]])

In [138]:
# 8
is_madagascar = fao_data[fao_data['Area'] == 'Madagascar']
is_madagascar.groupby('Element')['Y2015'].sum()   #ans = 173.05

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [139]:
# 9
fao_data['Area'].nunique()

49

In [140]:
# 10
fao_data['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [141]:
# 11
fao_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [142]:
# 13
cols = fao_data[['Y2017', 'Area']]
cols.groupby('Area').sum().describe()

              Y2017
count  4.900000e+01
mean   1.709332e+05
std    2.516059e+05
min    0.000000e+00
25%    2.934220e+04
50%    9.813887e+04
75%    2.245990e+05
max    1.483268e+06

In [143]:
# 14
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [144]:
col = fao_data[['Y2015', 'Y2018', 'Item']]
col.groupby('Item').sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [145]:
# 16
num_16 = fao_data.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
num_16.sum().reset_index().iloc()[15]  #ans 2014

Element    Stock Variation
Y2014             58749.83
Y2015             34910.99
Y2016             33140.12
Y2017             54316.91
Y2018             20577.91
Name: 15, dtype: object

In [146]:
# 17
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [147]:
# 18
cols = fao_data[['Y2017', 'Area']]
new_df = cols.groupby('Area', sort=True).sum().reset_index()
new_df = new_df.sort_values(by=['Y2017'], ascending=True)
new_df.head(7)   #ans Guinea-Bissau

                     Area     Y2017
42         Sudan (former)      0.00
16           Ethiopia PDR      0.00
9                 Comoros     59.84
38             Seychelles    442.34
36  Sao Tome and Principe  12662.63
5              Cabo Verde  14650.74
21          Guinea-Bissau  19102.77